*{
    box-sizing: border-box;
    background-color: rgb(215, 245, 234);
}

.body{
    padding: 50px;
}
.grid-row {
    display: flex;
  }
  
.grid-cell {
    border: 0.25px solid rgba(50, 46, 46, 0.667);
    width: 40px;
    background-color: #e7f2eedd;
    aspect-ratio: 1;
    overflow: hidden;
    overflow-x: auto;
    overflow-y: auto;
    border-radius: 7%;
}

#grid-container{
    max-width: 1200px;
    margin-bottom: 20px;
    margin-top: 10px;
}

.col{
    background-color: rgb(203, 77, 77);
}

.path{
    background-color: rgb(109, 223, 122);
}

.start{
    background-color: #154b74fe;
}

.end{
    background-color: rgba(31, 26, 26, 0.726);
}

input{
    background-color: #f4f4f4;
    margin: 5px 2px;
    padding: 10px;
    border-radius: 5px;
    border: 0.1px solid rgba(50, 46, 46, 0.667);
    width: 200px;
}

button{
    width: 450px;
    padding: 12px 20px;
    border-radius: 5px;
    border: none;
    background-color: rgb(132, 178, 172);
    cursor: pointer;
    margin-bottom: 20px;
}

button:hover{
    background-color: rgba(88, 110, 106, 0.484);
}

.container{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.wrap{
    display: flex;
    flex-direction: column;
}

.row{
    display: flex;
    width: 450px;
    justify-content: space-between;
}

h1{
    color: #0b0936d4;
}